@import 'bootstrap/dist/css/bootstrap';
.search-area {
    padding-top: 50px;
    margin-bottom: 1rem;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.res-block {
    display: inline-block;
    margin-bottom: 1rem;
}

.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('home-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}